Actividad1_Simil/GimnasioSchema.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="0.1" xml:lang="es">
    <xs:element name="Gimnasio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Clientes" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Cliente" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Ape1" type="xs:string"/>
                                        <xs:element name="Ape2" type="xs:string"/>
                                        <xs:element name="Nombre" type="xs:string"/>
                                        <xs:element name="InicioSuscripcion" type="xs:date"/>
                                        <xs:element name="FinSuscripcion" type="xs:date"/>
                                        <xs:element name="Sexo" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>