Actividad5_Simil/Ejercito.dtd

<!ELEMENT Ejercito (recluta*)>
<!ELEMENT recluta (nombre,ape1,NIF,Observaciones,CodCompañiaTierra,CodCompañiAire,CodCompañiaAgua)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ape1 (#PCDATA)>
<!ELEMENT NIF (#PCDATA)>
<!ELEMENT Observaciones (#PCDATA)>
<!ELEMENT CodCompañiaTierra (#PCDATA)>
<!ELEMENT CodCompañiaAire (#PCDATA)>
<!ELEMENT CodCompañiaAgua (#PCDATA)>